<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Lists

      <%= link_to new_list_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

<!-- Table example -->

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>

            <th>
              User
            </th>

            <th>
              Slug
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <%= render collection: @lists, partial: "table_row", as: :list %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div data-controller="hello">
  <input type="text">
  <button>Greet</button>
</div>
